#poster{
        background-color: rgb(28, 28, 28);
        padding: 0;
        .poster-section{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
}
            
.poster{
    color: white;
    img{
        width: 12rem;
        aspect-ratio: 1;
        }
}
            

#button{
    background-color: rgb(2, 130, 249);
    color: white;
    padding: 1rem 2rem;
}
        

#buy{
    background-color: rgb(2, 130, 249);
}
        
.col-2{
    font-size: 0.8rem;
    img{
        width: 3.2rem;
    }
}


